<div class="footer justify-content-md-center">
    <div class="footer-container">
        <div class="row gy-4 gx-5 mb-4">
            <div class="col-lg-4 col-md-6 footer-col-1">
              <a class="footer-logo" href="index.html"><img src="./images/amdt-logo.png"></a>
                <p class="footer-about">AMDT School of Creativity’s vision is to make Sri Lanka a Creative country and to empower Sri Lanka’s Creative communities with talented and motivated people, to build impactful Creative enterprises.</p>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-4">Quick Links</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">My Creatuve Page</a></li>
                    <li><a href="#">About the Developer</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6">
                <h5 class="text-white mb-4">Study With Us</h5>
                <ul class="list-unstyled footer-links">
                    <li><a href="#">Apply</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Life at AMDT</a></li>
                    <li><a href="#">Scholarships</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="text-white mb-4">Contact Us</h5>
                <ul class="list-unstyled footer-links">
                  <li><i class="fa fa-map-marker"></i><a href="#">317A Galle Rd, Colombo 00400</a></li>
                  <li><i class="fa fa-phone"></i><a href="#">0114 381 981</a></li>
                  <li><i class="fa fa-envelope"></i><a href="#">info@amdt.lk</a></li>
                  <div class="col-lg-12 col-md-12 footer-social-icons">
                    <li><a href="https://www.facebook.com/AMDTSriLanka/" target="_blank" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.instagram.com/amdtlk/" target="_blank" class="fa fa-instagram"></a></li>
                    <li><a href="https://lk.linkedin.com/school/amdt-school-of-creativity/" target="_blank" class="fa fa-linkedin"></a></li>
                    <li><a href="https://twitter.com/amdtlk" target="_blank" class="fa fa-twitter"></a></li>
                  </div>
              </ul>
                <form action="#">
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" placeholder="Your Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <a href="#" class="btn btn-primary">Send</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="bottom-bar justify-content-md-center">
        <div class="bottom-bar-container">
            <div class="col-lg-12 col-md-12">
                <p class="text-white text-center">All Rights Reserved. Concept & Design by <a class="developer" href="https://github.com/kaveeshaper/amdt-revamp" target="_blank">Kaveesha Perera</a></p>
            </div>
        </div>
    </div>
</div>