<nav class="navbar navbar-expand-lg header-nav fixed-top">
    <a class="main-logo" href="index.html"><img src="images/amdt-logo-2.png"></a>
    <a class="mobile-logo" href="index.html"><img src="images/amdt-logo.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!-- menu items -->
        <li class="nav-item">
          <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/amdt-quiz.html">Amdt Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-creative-page.html">My Creative Page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-developer.html">About the Developer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us.html">Contact Us</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <button class="nav-btn">Apply Now</button>
      </ul>
    </div>
</nav>